<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.pgneri.plugin.custom.camera"
    version="1.0">

    <name>CustomCamera</name>
    <description>Plugin Custom Camera </description>
    <license>Apache 2.0</license>
    <keywords>camera,plugin,custom,selfie,mask</keywords>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>

<js-module src="js/customcamera.js" name="customCamera">
    <clobbers target="navigator.customCamera" />
</js-module>

<asset src="icons" target="img/icons" />

<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="ios-package" value="CustomCamera" />
        </feature>
    </config-file>

    <framework src="AVFoundation.framework" />
    <header-file src="src/ios/GlobalVars.h" />
    <header-file src="src/ios/CustomCamera.h" />
    <header-file src="src/ios/CustomCameraViewController.h" />
    <header-file src="src/ios/ConfirmImageViewController.h" />
    <header-file src="src/ios/PortrateNavigation.h" />

    <source-file src="src/ios/CustomCamera.m" />
    <source-file src="src/ios/GlobalVars.m" />
    <source-file src="src/ios/CustomCameraViewController.m" />
    <source-file src="src/ios/ConfirmImageViewController.m" />
    <source-file src="src/ios/PortrateNavigation.m" />
</platform>
<platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
        <feature name="CustomCamera">
            <param name="android-package" value="com.pgneri.plugin.custom.camera.CustomCamera" />
        </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <activity android:name="com.pgneri.plugin.custom.camera.CameraActivity" >
          <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
            <action android:name="com.pgneri.plugin.custom.camera.OPEN_CAMERA" />
          </intent-filter>
      </activity>
    </config-file>
    <source-file src="src/android/CustomCamera.java" target-dir="src/com/pgneri/plugin/custom/camera" />
    <source-file src="src/android/TakePictureAction.java" target-dir="src/com/pgneri/plugin/custom/camera" />
    <source-file src="src/android/CameraActivity.java" target-dir="src/com/pgneri/plugin/custom/camera" />
  </platform>
</plugin>
