<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.pgneri.custom.plugin.camera"
    version="2.0">

    <name>CustomCamera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>camera,plugin,custom,selfie</keywords>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>

<js-module src="js/customcamera.js" name="customCamera">
    <clobbers target="navigator.customCamera" />
</js-module>

<asset src="icons" target="img/icons" />

<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="ios-package" value="CustomCamera" />
        </feature>
    </config-file>
    <framework src="AVFoundation.framework" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCamera.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.h" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCamera.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.m" />
</platform>


</plugin>
